#resultOfSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: initial;
}

#selected-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: initial;
}

.photographers-items section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

hr {
  border-style: none;
  margin: inherit;
}

.restrict {
  display: flex;
  justify-content: center;
  margin: 0 20px 30px;
  padding: 17px;
  text-decoration: none;
  align-items: center;
  min-width: 23%;
  width: 26%;
}

.photographers-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  color: #312E2E;
}

.photographers-items p {
  line-height: 1em;
  font-size: 0.7rem;
}

.photographer-portrait {
  background-size: contain;
  height: 170px;
  width: 170px;
  background-position: 50% 50%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

h2 {
  font-weight: 400;
  color: #DB8876;
  font-size: 1.7rem;
  line-height: 1em;
}

.photographer-city {
  color: #901C1C;
}

.listOfTags {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.listOfTags a:not(:first-child) {
  margin-left: 3px;
}

.cardTag {
  text-decoration: none;
  color: #901C1C;
  border: 0.001rem solid;
  border-color: lightgray;
  border-radius: 20px;
  font-size: 0.7rem;
  padding: 6px 3px;
}

.photographerPrice {
  color: #757575;
}

.photographer-selection {
  width: 20%;
  -o-object-fit: contain;
     object-fit: contain;
}

* {
  font-family: "DM Sans", sans-serif;
}

textarea::-moz-placeholder {
  font-size: 0.7em;
}

textarea:-ms-input-placeholder {
  font-size: 0.7em;
}

textarea::placeholder {
  font-size: 0.7em;
}

.modal-btn {
  font-size: 145%;
  background: #DB8876;
  display: flex;
  margin: auto;
  padding: 2em;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: #DB8876;
  color: #312E2E;
}

.div_contact_button {
  margin-right: 210px;
}

/* Modal form */
h3 {
  color: black;
  font-weight: 400;
}

.button {
  background: #DB8876;
  margin-top: 0.5em;
  padding: 1em;
  color: #fafafa;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: #fafafa;
  color: #312E2E;
}

.smFont {
  font-size: 16px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: var(--modal-duration);
          animation-duration: var(--modal-duration);
  background: #DB8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: black;
  padding-top: 10px;
}

.modal-body,
#modal-body__validation {
  padding: 15px 8%;
  margin: 15px auto;
}

#modal-body__validation {
  padding: 30vh 0;
  font-size: 130%;
  text-align: center;
}

.formData label {
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
  color: #312E2E;
}

.modal-body input,
textarea {
  padding: 8px;
  border: 0.8px solid #fafafa;
  outline: none;
}

textarea {
  overflow: hidden;
}

.modal-body input:focus-within {
  border-color: #DB8876;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 3px;
  font-size: 20px;
  height: 48px;
}

.message {
  height: 100px;
  resize: none;
}

small {
  font-size: 11px;
  color: #901C1C;
}

.formData {
  margin-bottom: 10px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #DB8876;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible=true]::after {
  opacity: 1;
}

.formData[data-error-visible=true] .text-control {
  border: 2px solid #901C1C;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fafafa;
  border-left-color: #fafafa;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit,
.btn-signup,
#modal-body__validation__button {
  background: #901C1C;
  display: block;
  border-radius: 3px;
  font-size: 1rem;
  padding: 12px 40px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.btn-submit:disabled {
  display: none;
}

/* custom select styles */
.custom-select {
  position: relative;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: #DB8876;
  border-left-color: #DB8876;
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: #000;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #DB8876;
}

/* custom select end */
.text-label {
  font-weight: normal;
  font-size: 16px;
}

.btn-signup {
  outline: none;
  font-size: 0.8rem;
  padding: 12px 7px;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 40px 50px;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 0 25px 0;
  margin-bottom: 80px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.fisheyeBanner {
  width: 25%;
  height: 100%;
  text-align: center;
  align-content: center;
}

.fisheyeBanner a {
  display: flex;
}

.fisheyeBanner img {
  width: 70%;
}

.photographer-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  flex-wrap: wrap;
}

.photographer-categories a:not(:first-child) {
  margin-left: 3px;
}

.photographer-categories a,
.photographer_listOfTags a {
  text-decoration: none;
  color: #901C1C;
  padding: 1px 5px;
  border: 0.001rem solid;
  border-color: lightgray;
  border-radius: 20px;
  font-size: 0.7rem;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  position: absolute;
  top: 10px;
  right: 55px;
  color: #901C1C;
  font-weight: 400;
}

.photographer_listOfTags {
  display: flex;
  flex-direction: row;
}

.photographer_listOfTags a {
  padding: 3px 7px;
}

.generatedTags {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

#menu-deroulant {
  margin: 15px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

nav > p {
  margin-right: 15px;
}

nav > ul {
  width: 140px;
  margin: 0;
  padding: 0;
  background-color: #901C1C;
  border-radius: 5px;
}

nav > ul::after {
  content: "";
  display: block;
  clear: both;
}

nav > ul > li {
  float: left;
  position: relative;
  display: flex;
  flex-direction: row;
}

nav > ul > li a {
  padding: 15px 20px;
  color: white;
}

#chevron {
  color: white;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-bottom-left-radius: 2px;
  transform: rotate(0deg) translate(0%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
  position: absolute;
  top: 15px;
  left: 109px;
}

nav > ul > li:hover a {
  padding: 15px, 30px, 20px, 30px;
}

nav li {
  list-style-type: none;
}

.submenu {
  display: none;
}

nav a {
  display: inline-block;
  text-decoration: none;
}

nav li:hover .submenu {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 1000;
}

nav li:hover #chevron {
  transform: rotate(180deg) translate(0%, 0%);
}

.submenu li {
  border-top: 1.5px solid white;
  padding: 10px 0;
}

.submenu li a {
  padding: 15px 30px;
  color: white;
  width: 80px;
}

.menu-html .submenu {
  background-color: #901C1C;
  border-radius: 0 0 5px 5px;
}

.submenu li:hover a {
  color: white;
  font-weight: bold;
}

.menu-html .submenu li:hover a {
  background-color: rgba(210, 77, 60, 0.5);
}

#photographerPageHeader {
  padding: 0;
}

#informations {
  background-color: #fafafa;
  border-radius: 5px;
}

.photographerPersonal_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.photographerPersonal_card-name {
  color: #D3573C;
  font-weight: 400;
  position: initial;
}

.photographerPersonal_card-city {
  color: #901C1C;
}

.photographerPersonal_card-tagline {
  font-size: 0.8em;
  color: #757575;
}

.redirect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 45px;
  padding: 17px;
  text-decoration: none;
  align-items: center;
}

#photographer_infos {
  display: flex;
  flex-direction: column;
}

#mediasDuPhotographe {
  display: flex;
  width: 100%;
}

.portfolioMedias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: initial;
}

.portfolioMedias li {
  display: flex;
  justify-content: center;
  color: #312E2E;
  flex-direction: column;
  text-align: center;
  list-style: none;
  align-content: center;
  align-items: center;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  margin: 0 53px 0 0;
  width: 300px;
}

.photographer-video:hover,
.listOfMedias img:hover {
  transform: scale(0.95);
  box-shadow: rgba(0, 0, 0, 0.2) 0 18px 50px -10px;
}

.listOfMedias img {
  width: 300px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 5px;
}

.video_container {
  width: 300px;
  overflow: hidden;
  display: block;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.photographer-video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restricted {
  text-decoration: none;
}

.photograph-title {
  color: #901C1C;
  font-size: 0.7em;
}

.photograph-numberOfLikes {
  color: #901C1C;
  font-size: 0.7em;
}

.label-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.fas {
  color: #901C1C;
  font-size: inherit;
}

#ongletLikesTarif {
  background-color: #DB8876;
  width: 30%;
  height: 50px;
  border-radius: 5px 5px 0px 0px;
  position: fixed;
  right: 3%;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.onglet_likesColor:before {
  color: black;
  font-size: inherit;
}

#ongletLikesTarif p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  margin: auto;
  margin: 20px 50px;
}

.lightbox__container img {
  max-width: 90vh;
  max-height: 90vh;
  -webkit-animation: lightboxIn 0.5s;
          animation: lightboxIn 0.5s;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  overflow: auto;
  -webkit-animation: lightboxIn 0.5s;
          animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
}

.lightbox.fadeOut {
  opacity: 0;
}

.lightbox__next,
.lightbox__prev {
  border: none;
  background: url("../images/chevron-right-solid.svg") center center/16px 28px no-repeat;
  width: 50px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0%;
  margin-top: -14px;
  z-index: 11;
}

.lightbox__prev {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}

.lightbox__close {
  background: url("../images/times-solid.svg") center center/100% 100% no-repeat transparent;
  width: 30px;
  height: 30px;
  border: none;
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 12;
}

.lightbox button {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
  text-indent: -3000px;
}

.lightbox button:hover {
  opacity: 1;
}

.lightbox__loader {
  width: 38px;
  height: 38px;
  opacity: 0.5;
  background: url(../images/loader.svg) center center/no-repeat transparent;
}

@-webkit-keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#topLink {
  position: fixed;
  left: 50%;
  width: 182px;
  height: 30px;
  background: #D3573C;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 400;
}

.hide {
  opacity: 0;
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  top: 30px;
  opacity: 1;
  transition: all 0.3s ease;
  visibility: visible;
}/*# sourceMappingURL=style.css.map */