#resultOfSearch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: initial;
    @media all and (max-width: 769px) {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

#selected-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: initial;
}

.photographers-items section:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr {
    border-style: none;
    margin: inherit;
}

.restrict {
    display: flex;
    justify-content: center;
    margin: 0 20px 30px;
    padding: 17px;
    text-decoration: none;
    align-items: center;
    min-width: 23%;
    width: 26%;
    @media all and (max-width: 769px) {
        width: 100%;
        margin: 20px;
    }
}

.restrict:hover {
    background-color: rgba($secondary-color, 0.4);
    border-radius: 10px;
    h2 {
        color: $dark-color;
    }
}

.photographers-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    color: $tertiary-color;
}

.photographers-items p {
    line-height: 1em;
    font-size: .9rem;
    @media all and (max-width: 769px) {
        line-height: 0em;
    }
}

.photographer-portrait {
    background-size: contain;
    height: 170px;
    width: 170px;
    background-position: 50% 50%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

h2 {
    font-weight: 400;
    color: $secondary-color;
    font-size: 1.7rem;
    line-height: 1em;
}

.photographer-city {
    color: $primary-color;
}

.listOfTags {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listOfTags a:not(:first-child) {
    margin-left: 3px;
}

.cardTag {
    text-decoration: none;
    color: $primary-color;
    border: .001rem solid;
    border-color: lightgray;
    border-radius: 20px;
    font-size: .7rem;
    padding: 6px 3px;
}

.photographerPrice {
    color: $dark-color;
}

.photographer-selection {
    width: 20%;
    object-fit: contain;
}